<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tv">TV SHOWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">MOVIES</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/favorite">FAVORITES</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/channel">CHANNELS</a>
      </li>
    </ul>
  
  </div>
</nav>





{{!-- <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark" >
    
        <a id ="home"class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/tv">TV ShOWS <span class="sr-only"></span></a>
        <a class="nav-link" href="/movie">MOVIES</a>
        <a class="nav-link" href="/favorite">favorites</a>
    
  
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> --}}






