<div class="container">
    <div class="row">
        <div class="col-12">
            {{> header }}
        </div>
    </div>
</div>
<<<<<<< HEAD

                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                          <h2>Top Movies</h2>
                          <hr>
                          <div id="topMovie-area"></div>
                          <hr>
                        </div>
                      </div>

 {{>footer}}
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
=======
>>>>>>> origin

{{>footer}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        $("#click").click(function (){
            $('html, body').animate({
                scrollTop: $("#home").offset().top
            }, 2000);
        });
<<<<<<< HEAD
    </script> 

<script src="js/topmovie.js"></script>
=======
    });
</script> 
>>>>>>> origin
